################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NumerosAleatorios/.vs/
/NumerosAleatorios/packages/
/NumerosAleatorios/Generadores/bin/
/NumerosAleatorios/Generadores/obj/
/NumerosAleatorios/NumerosAleatorios/bin/
/NumerosAleatorios/NumerosAleatorios/obj/
